In [165]:
import pandas as pd
import os

DATA_DIR = r"C:\Flaskteam_projects\flask_basic\data"

def path(filename):
    return os.path.join(DATA_DIR, filename)

df_grdp = pd.read_csv(path("GRDP_15~22.csv"), header=[0,1]) # GRDP
df_basic = pd.read_csv(path("기초생활수급자_12~24.csv"), header=[0,1]) # 기초생활수급자
df_multi = pd.read_csv(path("다문화가구_15~23.csv"), encoding='euc-kr') # 다문화가구수
df_pop = pd.read_excel(path("등록인구(연령별_동별)_14~24.xlsx")) # 등록인구
df_div = pd.read_excel(path("시도_시군구_월별_이혼_11~24.xlsx")) # 이혼
df_child = pd.read_csv(path("아동복지시설_06~24.csv")) # 아동복지시설
df_single = pd.read_csv(path("저소득_한부모가족_15~23.csv")) # 저소득 한부모가족
df_birth = pd.read_csv(path("출생아수_06~24.csv"), encoding='euc-kr') # 출생아수
df_academy = pd.read_csv(path("학생_1만명당_사설학원수_10~24.csv")) # 학생_1만명당 사설학원수

C:\Users\eldorado\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\eldorado\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [166]:
df_grdp.head(10)

  자치구별(1) 자치구별(2)                  2015                                       \
  자치구별(1) 자치구별(2) 지역내총생산 (당해년 가격) (백만원) 구성비 (%) 인구(추계인구) (명) 1인당 지역내총생산 (천원)
0     서울시      소계             386818107   100.0      9941162           38911
1     서울시     종로구              26762944     6.9       161331          165888
2     서울시      중구              54594969    14.1       128829          423779
3     서울시     용산구              12981760     3.4       228421           56833
4     서울시     성동구              10728559     2.8       295266           36335
5     서울시     광진구               6343138     1.6       369494           17167
6     서울시    동대문구               7847523     2.0       366151           21432
7     서울시     중랑구               4108513     1.1       406847           10098
8     서울시     성북구               5580652     1.4       459690           12140
9     서울시     강북구               2953193     0.8       321909            9174

                                        2016                       ...  \
  수준지수 (서울특별시=100) (%) 지역내총생산 (당해년 가격) (백만원) 구성비 (%) 인구(추계인구) (명)  ...
0               100.00             407074525   100.0      9852081  ...
1               426.33              30154311     7.4       159940  ...
2              1089.10              55017722    13.5       127482  ...
3               146.06              13812415     3.4       225202  ...
4                93.38              11696824     2.9       294822  ...
5                44.12               6722894     1.7       366874  ...
6                55.08               8291459     2.0       361834  ...
7                25.95               4323488     1.1       402615  ...
8                31.20               5784772     1.4       452601  ...
9                23.58               3077197     0.8       317889  ...

                   2021                                       \
  지역내총생산 (당해년 가격) (백만원) 구성비 (%) 인구(추계인구) (명) 1인당 지역내총생산 (천원)
0             507460707   100.0      9501528           53408
1              33155488     6.5       149705          221472
2              66215962    13.0       127427          519638
3              16407415     3.2       225647           72713
4              15933418     3.1       287580           55405
5               7503131     1.5       349926           21442
6               9016511     1.8       347913           25916
7               5368569     1.1       381449           14074
8               6433401     1.3       436199           14749
9               3740955     0.7       294628           12697

                                        2022                       \
  수준지수 (서울특별시=100) (%) 지역내총생산 (당해년 가격) (백만원) 구성비 (%) 인구(추계인구) (명)
0               100.00             528484481   100.0      9421415
1               414.68              34298656     6.5       146891
2               972.95              71966937    13.6       124819
3               136.14              17810231     3.4       218951
4               103.74              16751326     3.2       282740
5                40.15               8050506     1.5       346409
6                48.52               8990002     1.7       347808
7                26.35               5287511     1.0       380540
8                27.62               6460251     1.2       435613
9                23.77               4121024     0.8       288916


  1인당 지역내총생산 (천원) 수준지수 (서울특별시=100) (%)
0           56094               100.00
1          233497               416.26
2          576570              1027.87
3           81343               145.01
4           59246               105.62
5           23240                41.43
6           25848                46.08
7           13895                24.77
8           14830                26.44
9           14264                25.43

[10 rows x 42 columns]

In [167]:
# 멀티헤더 → 단일 문자열 컬럼으로 평탄화
df_grdp.columns = [f"{a}_{b}" for a, b in df_grdp.columns]

# '자치구별(2)'가 실제 구 이름이므로 '자치구' 컬럼 생성
df_grdp["자치구"] = df_grdp["자치구별(2)_자치구별(2)"]

# 소계(서울시 전체 합계) 제거
df_grdp = df_grdp[df_grdp["자치구"] != "소계"]

# GRDP 컬럼만 필터링
grdp_cols = [
    col for col in df_grdp.columns
    if ("지역내총생산" in col) and ("당해년 가격" in col)
]

# 자치구 + GRDP 컬럼만 선택
df_grdp = df_grdp[["자치구"] + grdp_cols]

# 컬럼명을 연도(int)로 정리
df_grdp.columns = (
    ["자치구"] +
    [int(col.split("_")[0]) for col in grdp_cols]
)

# 연도 오름차순 정렬
year_cols = sorted([c for c in df_grdp.columns if c != "자치구"])
df_grdp = df_grdp[["자치구"] + year_cols]

df_grdp.head()

,자치구,2015,2016,2017,2018,2019,2020,2021,2022
1,종로구,26762944,30154311,29054791,30763051,31952991,31074021,33155488,34298656
2,중구,54594969,55017722,55128878,59212461,59526399,60292105,66215962,71966937
3,용산구,12981760,13812415,14846427,15083040,15456977,15696785,16407415,17810231
4,성동구,10728559,11696824,12741890,13144185,13531243,13807677,15933418,16751326
5,광진구,6343138,6722894,6942779,7036896,7234992,7375518,7503131,8050506

In [168]:
df_basic.head()

     시점 자치구별(1) 자치구별(2)   일반수급자                                          ...  \
     시점 자치구별(1) 자치구별(2)      소계  0~4세  5~9세 10~14세 15~19세 20~24세 25~29세  ...
0  2012      합계      소계  188017  2817  5117  11478  19560   9447   2994  ...
1  2012      합계     종로구    3057    33    67    164    220     99     38  ...
2  2012      합계      중구    3498    23    65    148    268    126     36  ...
3  2012      합계     용산구    4284    63    87    193    268    119     34  ...
4  2012      합계     성동구    5488    71   165    390    642    234     51  ...


  35~39세 40~44세 45~49세 50~54세 55~59세 60~64세 65~69세 70~74세 75~79세  80세이상
0   5857  12033  15917  17461  13789  10434  13881  17596  12943  13488
1     91    189    259    278    246    196    307    351    231    245
2     91    171    287    369    326    233    339    414    281    281
3    122    228    333    383    377    315    440    526    379    348
4    195    397    455    483    351    279    389    518    406    374

[5 rows x 21 columns]

In [169]:
for col in df_basic.columns:
    print(col)

('시점', '시점')
('자치구별(1)', '자치구별(1)')
('자치구별(2)', '자치구별(2)')
('일반수급자', '소계')
('일반수급자', '0~4세')
('일반수급자', '5~9세')
('일반수급자', '10~14세')
('일반수급자', '15~19세')
('일반수급자', '20~24세')
('일반수급자', '25~29세')
('일반수급자', '30~34세')
('일반수급자', '35~39세')
('일반수급자', '40~44세')
('일반수급자', '45~49세')
('일반수급자', '50~54세')
('일반수급자', '55~59세')
('일반수급자', '60~64세')
('일반수급자', '65~69세')
('일반수급자', '70~74세')
('일반수급자', '75~79세')
('일반수급자', '80세이상')

In [170]:
# 자치구 / 연도 / 소계 컬럼 생성
df_basic["자치구"] = df_basic[("자치구별(2)", "자치구별(2)")]
df_basic["연도"] = df_basic[("시점", "시점")].astype(int)
df_basic["기초생활수급자수"] = df_basic[("일반수급자", "소계")]

# 서울시 전체 합계 제거
df_basic = df_basic[df_basic["자치구"] != "합계"]

# 필요한 컬럼만 남기기 (long-format)
df_basic = df_basic[["자치구", "연도", "기초생활수급자수"]]

# wide-format 변환 (자치구 × 연도)
df_basic = df_basic.pivot(
    index="자치구",
    columns="연도",
    values="기초생활수급자수"
)

# pivot 후 정리
df_basic = df_basic.reset_index()
df_basic.columns.name = None

# 연도 정렬
year_cols = sorted([c for c in df_basic.columns if c != "자치구"])
df_basic = df_basic[["자치구"] + year_cols]

df_basic.head()

,자치구,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,강남구,8504,8556,9472,10704,10885,10564,10878,12290,14061,15237,15532,15856,16396
1,강동구,6136,6429,6659,8955,9494,9167,9919,11277,14245,16213,17031,17940,18953
2,강북구,10253,10826,11163,13565,15039,14669,15901,17446,19581,21656,22602,23803,25010
3,강서구,17175,17146,17594,19451,20601,20322,21827,23721,27358,30518,31227,32460,33690
4,관악구,10164,10231,10399,11800,12597,12759,14025,15835,20128,22555,22946,24002,25204

In [171]:
df_multi.head(10)

,자치구별(1),자치구별(2),구분별(1),구분별(2),2015,2016,2017,2018,2019,2020,2021,2022,2023
0,합계,소계,다문화가구 (가구),소계,64013,69054,66618,67790,69738,69790,71337,72949,74514
1,합계,소계,다문화가구원 (명),소계,167836,188450,179426,183149,189010,187239,187022,190458,194025
2,합계,소계,다문화가구원 (명),내국인(출생),91589,97490,91480,93868,97409,101818,101146,103655,106365
3,합계,소계,다문화가구원 (명),내국인(귀화·인지),40297,40587,41441,41767,41928,43447,44471,45501,46374
4,합계,소계,다문화가구원 (명),외국인(결혼이민자),27239,32988,31929,32513,33149,31527,30984,31692,31555
5,합계,소계,다문화가구원 (명),외국인(기타),8711,17385,14576,15001,16524,10447,10421,9610,9731
6,합계,종로구,다문화가구 (가구),소계,1331,1146,1084,1093,1115,1135,1160,1178,1208
7,합계,종로구,다문화가구원 (명),소계,3241,2998,2954,2928,2976,3006,3057,3067,3095
8,합계,종로구,다문화가구원 (명),내국인(출생),1660,1661,1579,1603,1631,1733,1780,1790,1810
9,합계,종로구,다문화가구원 (명),내국인(귀화·인지),568,545,526,506,510,520,511,535,540

In [172]:
print(df_multi.columns.tolist())

['자치구별(1)', '자치구별(2)', '구분별(1)', '구분별(2)', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']

In [173]:
df_multi['구분별(1)'].unique()

array(['다문화가구 (가구)', '다문화가구원 (명)'], dtype=object)

In [174]:
# 자치구 컬럼 생성
df_multi["자치구"] = df_multi["자치구별(2)"]

# 정확한 조건으로 필터링
df_multi = df_multi[
    (df_multi["구분별(1)"] == "다문화가구 (가구)") &
    (df_multi["구분별(2)"] == "소계")
].copy()

# 연도 컬럼 자동 추출
year_cols = [col for col in df_multi.columns if col.isdigit()]

# 필요한 컬럼만 남기기
df_multi = df_multi[["자치구"] + year_cols].copy()

# 컬럼명 타입 변환
df_multi.columns = ["자치구"] + [int(y) for y in year_cols]

# 정렬
df_multi = df_multi.sort_values("자치구").reset_index(drop=True)

df_multi.head()

   자치구  2015  2016  2017  2018  2019  2020  2021  2022  2023
0  강남구  1877  2036  1923  1938  2004  2103  2169  2384  2543
1  강동구  2061  2163  2075  2118  2162  2281  2465  2531  2646
2  강북구  1875  1929  1832  1878  1947  2014  2022  2062  2117
3  강서구  3230  3493  3392  3588  3704  3766  3863  3924  3976
4  관악구  4296  5052  4524  4483  4571  4399  4436  4466  4526

In [175]:
df_pop.head(10)

,동별(1),항목,2014,2014.1,2014.2,2014.3,2014.4,2014.5,2014.6,2014.7,...,2024.12,2024.13,2024.14,2024.15,2024.16,2024.17,2024.18,2024.19,2024.20,2024.21
0,동별(1),항목,합계,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,...,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상
1,합계,계,10369593,411132,393451,459224,594242,727181,793943,933328,...,730403,705495,640195,439509,337947,235361,120587,40193,9577,1526
2,NaN,한국인,10103233,404369,389623,456867,587646,701179,756772,904291,...,710310,692690,633549,436781,336990,234945,120305,40067,9527,1484
3,NaN,등록외국인,266360,6763,3828,2357,6596,26002,37171,29037,...,20093,12805,6646,2728,957,416,282,126,50,42
4,종로구,계,165344,4609,4991,6704,9372,12979,13283,12696,...,11884,11548,9874,6532,5421,4351,2509,889,223,41
5,NaN,한국인,156993,4445,4886,6622,9004,11384,11937,11826,...,11525,11293,9723,6478,5389,4337,2500,884,222,41
6,NaN,등록외국인,8351,164,105,82,368,1595,1346,870,...,359,255,151,54,32,14,9,5,1,-
7,중구,계,136227,4806,4036,4268,6026,9379,10711,12125,...,9971,9942,9075,6133,4865,3778,2045,735,198,24
8,NaN,한국인,128065,4582,3874,4148,5754,8497,9480,11236,...,9345,9568,8841,6021,4824,3747,2027,728,198,22
9,NaN,등록외국인,8162,224,162,120,272,882,1231,889,...,626,374,234,112,41,31,18,7,-,2

In [176]:
df_pop.columns.tolist()

['동별(1)',
 '항목',
 '2014',
 '2014.1',
 '2014.2',
 '2014.3',
 '2014.4',
 '2014.5',
 '2014.6',
 '2014.7',
 '2014.8',
 '2014.9',
 '2014.10',
 '2014.11',
 '2014.12',
 '2014.13',
 '2014.14',
 '2014.15',
 '2014.16',
 '2014.17',
 '2014.18',
 '2014.19',
 '2014.20',
 '2014.21',
 '2015',
 '2015.1',
 '2015.2',
 '2015.3',
 '2015.4',
 '2015.5',
 '2015.6',
 '2015.7',
 '2015.8',
 '2015.9',
 '2015.10',
 '2015.11',
 '2015.12',
 '2015.13',
 '2015.14',
 '2015.15',
 '2015.16',
 '2015.17',
 '2015.18',
 '2015.19',
 '2015.20',
 '2015.21',
 '2016',
 '2016.1',
 '2016.2',
 '2016.3',
 '2016.4',
 '2016.5',
 '2016.6',
 '2016.7',
 '2016.8',
 '2016.9',
 '2016.10',
 '2016.11',
 '2016.12',
 '2016.13',
 '2016.14',
 '2016.15',
 '2016.16',
 '2016.17',
 '2016.18',
 '2016.19',
 '2016.20',
 '2016.21',
 '2017',
 '2017.1',
 '2017.2',
 '2017.3',
 '2017.4',
 '2017.5',
 '2017.6',
 '2017.7',
 '2017.8',
 '2017.9',
 '2017.10',
 '2017.11',
 '2017.12',
 '2017.13',
 '2017.14',
 '2017.15',
 '2017.16',
 '2017.17',
 '2017.18',
 '2017.19',
 '2017.20',
 '2017.21',
 '2018',
 '2018.1',
 '2018.2',
 '2018.3',
 '2018.4',
 '2018.5',
 '2018.6',
 '2018.7',
 '2018.8',
 '2018.9',
 '2018.10',
 '2018.11',
 '2018.12',
 '2018.13',
 '2018.14',
 '2018.15',
 '2018.16',
 '2018.17',
 '2018.18',
 '2018.19',
 '2018.20',
 '2018.21',
 '2019',
 '2019.1',
 '2019.2',
 '2019.3',
 '2019.4',
 '2019.5',
 '2019.6',
 '2019.7',
 '2019.8',
 '2019.9',
 '2019.10',
 '2019.11',
 '2019.12',
 '2019.13',
 '2019.14',
 '2019.15',
 '2019.16',
 '2019.17',
 '2019.18',
 '2019.19',
 '2019.20',
 '2019.21',
 '2020',
 '2020.1',
 '2020.2',
 '2020.3',
 '2020.4',
 '2020.5',
 '2020.6',
 '2020.7',
 '2020.8',
 '2020.9',
 '2020.10',
 '2020.11',
 '2020.12',
 '2020.13',
 '2020.14',
 '2020.15',
 '2020.16',
 '2020.17',
 '2020.18',
 '2020.19',
 '2020.20',
 '2020.21',
 '2021',
 '2021.1',
 '2021.2',
 '2021.3',
 '2021.4',
 '2021.5',
 '2021.6',
 '2021.7',
 '2021.8',
 '2021.9',
 '2021.10',
 '2021.11',
 '2021.12',
 '2021.13',
 '2021.14',
 '2021.15',
 '2021.16',
 '2021.17',
 '2021.18',
 '2021.19',
 '2021.20',
 '2021.21',
 '2022',
 '2022.1',
 '2022.2',
 '2022.3',
 '2022.4',
 '2022.5',
 '2022.6',
 '2022.7',
 '2022.8',
 '2022.9',
 '2022.10',
 '2022.11',
 '2022.12',
 '2022.13',
 '2022.14',
 '2022.15',
 '2022.16',
 '2022.17',
 '2022.18',
 '2022.19',
 '2022.20',
 '2022.21',
 '2023',
 '2023.1',
 '2023.2',
 '2023.3',
 '2023.4',
 '2023.5',
 '2023.6',
 '2023.7',
 '2023.8',
 '2023.9',
 '2023.10',
 '2023.11',
 '2023.12',
 '2023.13',
 '2023.14',
 '2023.15',
 '2023.16',
 '2023.17',
 '2023.18',
 '2023.19',
 '2023.20',
 '2023.21',
 '2024',
 '2024.1',
 '2024.2',
 '2024.3',
 '2024.4',
 '2024.5',
 '2024.6',
 '2024.7',
 '2024.8',
 '2024.9',
 '2024.10',
 '2024.11',
 '2024.12',
 '2024.13',
 '2024.14',
 '2024.15',
 '2024.16',
 '2024.17',
 '2024.18',
 '2024.19',
 '2024.20',
 '2024.21']

In [177]:
import pandas as pd

# df_pop 이미 읽어온 상태라고 가정
df = df_pop.copy()

# 1) 항목이 '계' 인 행만 사용
df = df[df["항목"] == "계"].copy()

# 2) 자치구 이름 정리
df["district"] = df["동별(1)"]

# 3) 연도 관련 컬럼만 선택
#    - 숫자 또는 "숫자.숫자" 형태
year_cols = [col for col in df.columns if col.replace('.', '').isdigit()]

# 4) melt로 wide → long 변환
df_melt = df.melt(
    id_vars=["district"],
    value_vars=year_cols,
    var_name="year_age",
    value_name="population"
)

# 5) year_age → year와 age_code(연령대 index) 분리
df_melt[["year", "age_code"]] = df_melt["year_age"].str.split(".", expand=True)

# age_code 없는 경우(전체 인구)는 제외
df_melt = df_melt[df_melt["age_code"].notna()].copy()

# 6) 숫자로 변환
df_melt["year"] = df_melt["year"].astype(int)
df_melt["age_code"] = df_melt["age_code"].astype(int)
df_melt["population"] = df_melt["population"].astype(float)

# 7) 우리가 원하는 age_code만 필터링
#    5~9세 → age_code = 2
#    10~14세 → age_code = 3
df_filtered = df_melt[df_melt["age_code"].isin([2, 3])].copy()

# 8) age_code → 나이대 이름으로 매핑
age_map = {
    2: "pop_5_9",
    3: "pop_10_14"
}
df_filtered["age_group"] = df_filtered["age_code"].map(age_map)

# 9) pivot으로 wide화 (district, year별 나이대 컬럼 생성)
df_final = df_filtered.pivot_table(
    index=["district", "year"],
    columns="age_group",
    values="population",
    aggfunc="sum"
).reset_index()

# 10) 자치구 이름 정리
df_final["district"] = df_final["district"].str.strip()

df_final.head()

df_final["pop_children"] = df_final["pop_5_9"] + df_final["pop_10_14"]

df_wide = df_final.pivot_table(
    index="district",
    columns="year",
    values="pop_children",
    aggfunc="sum"
).reset_index()

In [178]:
df = df_pop.copy()

# 항목이 '계' 인 행만 사용
df = df[df["항목"] == "계"].copy()

# 자치구 이름 정리
df["자치구"] = df["동별(1)"].astype(str).str.strip()

# 연도 관련 컬럼만 선택
year_cols = [col for col in df.columns if col.replace(".", "").isdigit()]

df_melt = df.melt(
    id_vars=["자치구"],
    value_vars=year_cols,
    var_name="year_age",
    value_name="population"
)

df_melt[["연도", "age_code"]] = df_melt["year_age"].str.split(".", expand=True)

# 전체연도(예: 2014)는 age_code가 NaN → 제외
df_melt = df_melt[df_melt["age_code"].notna()].copy()

# 숫자 변환
df_melt["연도"] = df_melt["연도"].astype(int)
df_melt["age_code"] = df_melt["age_code"].astype(int)
df_melt["population"] = df_melt["population"].astype(float)

# 필요한 연령대만 남기기
df_melt = df_melt[df_melt["age_code"].isin([2, 3])]

age_map = {
    2: "pop_5_9",
    3: "pop_10_14"
}
df_melt["age_group"] = df_melt["age_code"].map(age_map)

# long → wide 변환
df_final = df_melt.pivot_table(
    index=["자치구", "연도"],
    columns="age_group",
    values="population",
    aggfunc="sum"
).reset_index()

# 학령 인구 총합
df_final["pop_children"] = df_final["pop_5_9"] + df_final["pop_10_14"]

# wide-form 변환
df_wide = df_final.pivot_table(
    index="자치구",
    columns="연도",
    values="pop_children",
    aggfunc="sum"
).reset_index()

# 컬럼 정렬
cols = ["자치구"] + sorted([c for c in df_wide.columns if c != "자치구"])
df_wide = df_wide[cols]

# 최종 결과 df_pop에 저장
df_pop = df_wide.copy()

df_pop.head(10)

연도,자치구,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,강남구,51682.0,50933.0,50258.0,50441.0,50365.0,51516.0,52404.0,52278.0,50922.0,52010.0,53427.0
1,강동구,41175.0,38269.0,36098.0,35901.0,34676.0,35399.0,38930.0,39690.0,38835.0,38023.0,39093.0
2,강북구,25431.0,23888.0,22846.0,22190.0,21137.0,20123.0,19251.0,18279.0,17158.0,16164.0,15062.0
3,강서구,49887.0,47853.0,47302.0,47250.0,46253.0,45149.0,43482.0,42467.0,40598.0,38535.0,36875.0
4,관악구,33940.0,32026.0,30850.0,29787.0,28318.0,27188.0,25728.0,24178.0,22595.0,21010.0,19642.0
5,광진구,28612.0,27104.0,26148.0,25964.0,25323.0,24604.0,23965.0,22784.0,21709.0,20735.0,19758.0
6,구로구,35847.0,34751.0,33866.0,33454.0,32486.0,32112.0,31328.0,30204.0,28776.0,27636.0,26335.0
7,금천구,17463.0,16587.0,16000.0,15931.0,15261.0,14822.0,14267.0,13772.0,12874.0,12224.0,11550.0
8,노원구,57688.0,54000.0,51277.0,49398.0,46995.0,45189.0,44028.0,42074.0,39606.0,37312.0,35413.0
9,도봉구,29557.0,27944.0,26716.0,25868.0,24672.0,23546.0,22619.0,21657.0,20474.0,19319.0,18116.0

In [197]:
df_div.head(10)

,자치구,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,강남구,860,879,884,899,852,867,805,758,772,706,737,671,573,640
1,강동구,986,980,993,924,852,806,784,722,767,747,729,657,627,610
2,강북구,897,813,848,831,738,722,742,710,697,700,627,563,499,433
3,강서구,1198,1165,1181,1092,1118,1112,1120,1068,1103,1103,973,865,826,774
4,관악구,1080,1039,1089,1005,896,926,817,856,875,769,741,673,657,621
5,광진구,740,707,743,713,651,649,612,613,591,531,523,473,450,420
6,구로구,899,885,883,826,817,783,775,741,733,716,658,578,575,558
7,금천구,701,666,623,603,557,535,525,539,540,520,460,409,374,403
8,노원구,1120,1094,1075,1067,984,955,1003,887,903,891,782,665,671,614
9,도봉구,810,818,801,777,728,670,666,724,702,678,611,495,473,441

In [196]:
# 자치구 컬럼 생성 (전각 스페이스 제거)
df_div["자치구"] = df_div["시군구별"].astype(str).str.replace("\u3000", "").str.strip()

# 전국 / 서울특별시 제거 → 구만 남긴다
df_div = df_div[~df_div["자치구"].isin(["전국", "서울특별시"])].copy()

# 연도 컬럼만 추출 (숫자만 있는 컬럼)
year_cols = [col for col in df_div.columns if str(col).isdigit()]

# 필요한 컬럼만 남기기
df_div = df_div[["자치구"] + year_cols].copy()

# 구별로 groupby (중복 대비)
df_div = df_div.groupby("자치구")[year_cols].sum().reset_index()

# 연도 컬럼 정수 변환
df_div.columns = ["자치구"] + [int(y) for y in year_cols]

# 자치구 순 정렬
df_div = df_div.sort_values("자치구").reset_index(drop=True)
df_div.head(10)

,자치구,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,강남구,860,879,884,899,852,867,805,758,772,706,737,671,573,640
1,강동구,986,980,993,924,852,806,784,722,767,747,729,657,627,610
2,강북구,897,813,848,831,738,722,742,710,697,700,627,563,499,433
3,강서구,1198,1165,1181,1092,1118,1112,1120,1068,1103,1103,973,865,826,774
4,관악구,1080,1039,1089,1005,896,926,817,856,875,769,741,673,657,621
5,광진구,740,707,743,713,651,649,612,613,591,531,523,473,450,420
6,구로구,899,885,883,826,817,783,775,741,733,716,658,578,575,558
7,금천구,701,666,623,603,557,535,525,539,540,520,460,409,374,403
8,노원구,1120,1094,1075,1067,984,955,1003,887,903,891,782,665,671,614
9,도봉구,810,818,801,777,728,670,666,724,702,678,611,495,473,441

In [179]:
df_child.head(10)

,자치구별(1),자치구별(2),2006,2006.1,2006.2,2006.3,2006.4,2006.5,2007,2007.1,...,2023.6,2023.7,2024,2024.1,2024.2,2024.3,2024.4,2024.5,2024.6,2024.7
0,자치구별(1),자치구별(2),계,계,지역아동센터,지역아동센터,아동상담소,아동상담소,계,계,...,아동상담소,아동상담소,계,계,지역아동센터,지역아동센터,지역아동센터,지역아동센터,아동상담소,아동상담소
1,자치구별(1),자치구별(2),시설수 (개소),이용자수 (명),시설수 (개소),이용자수 (명),시설수 (개소),이용자수 (명),시설수 (개소),이용자수 (명),...,시설수 (개소),이용자수 (명),시설수 (개소),이용자수 (명),시설수 (개소),이용자수 (명),이용자수 (명),이용자수 (명),시설수 (개소),이용자수 (명)
2,자치구별(1),자치구별(2),소계,소계,소계,소계,소계,소계,소계,소계,...,소계,소계,소계,소계,소계,소계,남자,여자,소계,소계
3,서울시,소계,213,6477,209,5981,4,496,195,5945,...,1,50,417,11923,416,11382,5895,5487,1,541
4,서울시,종로구,10,294,10,294,-,-,9,210,...,-,-,11,244,11,244,123,121,-,-
5,서울시,중구,3,80,3,80,-,-,3,78,...,-,-,2,64,2,64,30,34,-,-
6,서울시,용산구,4,105,4,105,-,-,2,57,...,-,-,5,124,5,124,60,64,-,-
7,서울시,성동구,7,198,7,198,-,-,10,348,...,-,-,9,274,9,274,138,136,-,-
8,서울시,광진구,7,152,7,152,-,-,7,233,...,-,-,13,387,13,387,199,188,-,-
9,서울시,동대문구,4,256,3,116,1,140,4,265,...,-,-,15,399,15,399,210,189,-,-

In [180]:
# 자치구 컬럼 생성
df_child["자치구"] = df_child["자치구별(2)"]

# 서울시/소계/합계/NaN 제거
drop_list = ["서울특별시", "합계", "소계", None]
df_child = df_child[~df_child["자치구"].isin(drop_list)]
df_child = df_child[df_child["자치구"].notna()].copy()

# 모든 연도 컬럼 수집
year_raw_cols = [c for c in df_child.columns if c.replace(".", "").isdigit()]

# 연도만 추출 (2006, 2007, ...)
years = sorted(set(int(c.split(".")[0]) for c in year_raw_cols))

# 최종 컬럼 딕셔너리
result = {"자치구": df_child["자치구"]}

for y in years:
    # 해당 연도의 모든 세부 컬럼 찾기
    cols = [c for c in year_raw_cols if c.startswith(str(y))]

    # 이 순서대로라면
    # 0 = 계_시설수
    # 1 = 계_이용자수
    # 2 = 지역아동센터_시설수   ← 필요
    # 3 = 지역아동센터_이용자수 ← 필요
    # 4 = 상담소_시설수
    # 5 = 상담소_이용자수

    cols_sorted = sorted(cols, key=lambda x: float(x))

    # 지역아동센터 시설수 & 이용자수
    fac_col = cols_sorted[2]   # 시설수
    use_col = cols_sorted[3]   # 이용자수

    # 새로운 컬럼명 생성
    result[f"{y}_지역아동센터_시설수"] = pd.to_numeric(df_child[fac_col], errors="coerce")
    result[f"{y}_지역아동센터_이용자수"] = pd.to_numeric(df_child[use_col], errors="coerce")

# 결과 DataFrame 생성
df_child = pd.DataFrame(result)

df_child.head()

,자치구,2006_지역아동센터_시설수,2006_지역아동센터_이용자수,2007_지역아동센터_시설수,2007_지역아동센터_이용자수,2008_지역아동센터_시설수,2008_지역아동센터_이용자수,2009_지역아동센터_시설수,2009_지역아동센터_이용자수,2010_지역아동센터_시설수,...,2020_지역아동센터_시설수,2020_지역아동센터_이용자수,2021_지역아동센터_시설수,2021_지역아동센터_이용자수,2022_지역아동센터_시설수,2022_지역아동센터_이용자수,2023_지역아동센터_시설수,2023_지역아동센터_이용자수,2024_지역아동센터_시설수,2024_지역아동센터_이용자수
0,자치구별(2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,자치구별(2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,자치구별(2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,종로구,10.0,294.0,9.0,210.0,11.0,310.0,11.0,227.0,11.0,...,11.0,297.0,11.0,287.0,11.0,257.0,11.0,242.0,11.0,244.0
5,중구,3.0,80.0,3.0,78.0,5.0,145.0,5.0,148.0,5.0,...,4.0,128.0,4.0,126.0,4.0,99.0,4.0,109.0,2.0,64.0

In [181]:
# 위 3줄 삭제
df_child = df_child.iloc[3:].reset_index(drop=True)

# 자치구 컬럼 통일
df_child = df_child.rename(columns={"자치구별(2)": "자치구"})

# 불필요 행 삭제
df_child = df_child[df_child["자치구"].notna()]
df_child = df_child[~df_child["자치구"].isin(["합계", "소계", "계"])]

# 지역아동센터 시설수 / 이용자수 분리
facility_cols = [c for c in df_child.columns if ("지역아동센터" in c and "시설수" in c)]
user_cols     = [c for c in df_child.columns if ("지역아동센터" in c and "이용자수" in c)]

df_facility = df_child[["자치구"] + facility_cols].copy()
df_user     = df_child[["자치구"] + user_cols].copy()

# '-' → 0만 처리 (숫자변환은 나중에)
df_facility = df_facility.replace("-", 0)
df_user     = df_user.replace("-", 0)

df_facility.head()

,자치구,2006_지역아동센터_시설수,2007_지역아동센터_시설수,2008_지역아동센터_시설수,2009_지역아동센터_시설수,2010_지역아동센터_시설수,2011_지역아동센터_시설수,2012_지역아동센터_시설수,2013_지역아동센터_시설수,2014_지역아동센터_시설수,2015_지역아동센터_시설수,2016_지역아동센터_시설수,2017_지역아동센터_시설수,2018_지역아동센터_시설수,2019_지역아동센터_시설수,2020_지역아동센터_시설수,2021_지역아동센터_시설수,2022_지역아동센터_시설수,2023_지역아동센터_시설수,2024_지역아동센터_시설수
0,종로구,10.0,9.0,11.0,11.0,11.0,11.0,13.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,11.0,11.0,11.0,11.0,11.0
1,중구,3.0,3.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,4.0,4.0,4.0,4.0,4.0,4.0,2.0
2,용산구,4.0,2.0,3.0,5.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0
3,성동구,7.0,10.0,10.0,12.0,11.0,12.0,12.0,12.0,12.0,12.0,12.0,11.0,11.0,11.0,11.0,11.0,10.0,10.0,9.0
4,광진구,7.0,7.0,8.0,19.0,19.0,19.0,17.0,17.0,17.0,17.0,17.0,17.0,14.0,14.0,13.0,13.0,13.0,13.0,13.0

In [182]:
df_facility.columns = [
    "자치구" if col == "자치구" else col.split("_")[0]
    for col in df_facility.columns
]
df_facility.head()

,자치구,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,종로구,10.0,9.0,11.0,11.0,11.0,11.0,13.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,11.0,11.0,11.0,11.0,11.0
1,중구,3.0,3.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,4.0,4.0,4.0,4.0,4.0,4.0,2.0
2,용산구,4.0,2.0,3.0,5.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0
3,성동구,7.0,10.0,10.0,12.0,11.0,12.0,12.0,12.0,12.0,12.0,12.0,11.0,11.0,11.0,11.0,11.0,10.0,10.0,9.0
4,광진구,7.0,7.0,8.0,19.0,19.0,19.0,17.0,17.0,17.0,17.0,17.0,17.0,14.0,14.0,13.0,13.0,13.0,13.0,13.0

In [183]:
df_user.head()

,자치구,2006_지역아동센터_이용자수,2007_지역아동센터_이용자수,2008_지역아동센터_이용자수,2009_지역아동센터_이용자수,2010_지역아동센터_이용자수,2011_지역아동센터_이용자수,2012_지역아동센터_이용자수,2013_지역아동센터_이용자수,2014_지역아동센터_이용자수,2015_지역아동센터_이용자수,2016_지역아동센터_이용자수,2017_지역아동센터_이용자수,2018_지역아동센터_이용자수,2019_지역아동센터_이용자수,2020_지역아동센터_이용자수,2021_지역아동센터_이용자수,2022_지역아동센터_이용자수,2023_지역아동센터_이용자수,2024_지역아동센터_이용자수
0,종로구,294.0,210.0,310.0,227.0,248.0,231.0,312.0,329.0,269.0,305.0,301.0,282.0,290.0,323.0,297.0,287.0,257.0,242.0,244.0
1,중구,80.0,78.0,145.0,148.0,144.0,151.0,156.0,168.0,171.0,169.0,160.0,164.0,118.0,128.0,128.0,126.0,99.0,109.0,64.0
2,용산구,105.0,57.0,87.0,103.0,121.0,132.0,151.0,165.0,165.0,163.0,146.0,121.0,124.0,133.0,133.0,131.0,126.0,127.0,124.0
3,성동구,198.0,348.0,348.0,358.0,336.0,337.0,373.0,411.0,368.0,344.0,327.0,299.0,308.0,327.0,343.0,336.0,276.0,279.0,274.0
4,광진구,152.0,233.0,258.0,630.0,597.0,525.0,472.0,528.0,478.0,496.0,455.0,442.0,389.0,408.0,375.0,381.0,358.0,365.0,387.0

In [184]:
df_user.columns = [
    "자치구" if col == "자치구" else col.split("_")[0]
    for col in df_user.columns
]
df_user.head()

,자치구,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,종로구,294.0,210.0,310.0,227.0,248.0,231.0,312.0,329.0,269.0,305.0,301.0,282.0,290.0,323.0,297.0,287.0,257.0,242.0,244.0
1,중구,80.0,78.0,145.0,148.0,144.0,151.0,156.0,168.0,171.0,169.0,160.0,164.0,118.0,128.0,128.0,126.0,99.0,109.0,64.0
2,용산구,105.0,57.0,87.0,103.0,121.0,132.0,151.0,165.0,165.0,163.0,146.0,121.0,124.0,133.0,133.0,131.0,126.0,127.0,124.0
3,성동구,198.0,348.0,348.0,358.0,336.0,337.0,373.0,411.0,368.0,344.0,327.0,299.0,308.0,327.0,343.0,336.0,276.0,279.0,274.0
4,광진구,152.0,233.0,258.0,630.0,597.0,525.0,472.0,528.0,478.0,496.0,455.0,442.0,389.0,408.0,375.0,381.0,358.0,365.0,387.0

In [185]:
df_single.head()

,자치구(1),2010,2010.1,2010.2,2010.3,2010.4,2010.5,2010.6,2010.7,2010.8,...,2023.4,2023.5,2023.6,2023.7,2023.8,2023.9,2023.10,2023.11,2023.12,2023.13
0,자치구(1),합계,합계,한부모가족지원법 수급자,한부모가족지원법 수급자,한부모가족지원법 수급자,한부모가족지원법 수급자,한부모가족지원법 수급자,한부모가족지원법 수급자,한부모가족지원법 수급자,...,한부모가족지원법 수급자,한부모가족지원법 수급자,한부모가족지원법 수급자,한부모가족지원법 수급자,한부모가족지원법 수급자,한부모가족지원법 수급자,국민기초생활보장법 수급자,국민기초생활보장법 수급자,국가보훈법 수급자,국가보훈법 수급자
1,자치구(1),소계,소계,소계,소계,재가보호,재가보호,시설보호,시설보호,미보호,...,재가보호,재가보호,시설보호,시설보호,미보호,미보호,소계,소계,소계,소계
2,자치구(1),가구수 (가구),가구원수 (명),가구수 (가구),가구원수 (명),가구수 (가구),가구원수 (명),가구수 (가구),가구원수 (명),가구수 (가구),...,가구수 (가구),가구원수 (명),가구수 (가구),가구원수 (명),가구수 (가구),가구원수 (명),가구수 (가구),가구원수 (명),가구수 (가구),가구원수 (명)
3,계,32079,82094,21756,55305,21710,55195,46,110,...,...,3885,12775,29,29,-,-,23844,51166,-,-
4,종로구,408,1049,294,738,294,738,...,...,...,...,59,174,-,-,-,-,207,444,-,-

In [186]:
# 위 3줄 삭제하고 인덱스 리셋
df_single = df_single.iloc[3:].reset_index(drop=True)

# 자치구 컬럼명 통일
df_single = df_single.rename(columns={"자치구(1)": "자치구"})

# 자치구 NaN 또는 계/소계 제거
df_single = df_single[df_single["자치구"].notna()]
df_single = df_single[df_single["자치구"] != "계"]   # 서울 전체 합계 제거

# '-' → 0 처리 (숫자 변환은 나중에)
df_single = df_single.replace("-", 0)

df_single.head()

C:\Users\eldorado\AppData\Local\Temp\ipykernel_9928\1926418555.py:12: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_single = df_single.replace("-", 0)

,자치구,2010,2010.1,2010.2,2010.3,2010.4,2010.5,2010.6,2010.7,2010.8,...,2023.4,2023.5,2023.6,2023.7,2023.8,2023.9,2023.10,2023.11,2023.12,2023.13
1,종로구,408,1049,294,738,294,738,...,...,...,...,59,174,0,0,0,0,207,444,0,0
2,중구,479,1220,349,865,349,865,...,...,...,...,73,232,0,0,0,0,252,493,0,0
3,용산구,521,1350,321,821,308,789,13,32,...,...,58,176,1,1,0,0,465,888,0,0
4,성동구,953,2441,592,1334,592,1334,...,...,...,...,92,289,10,10,0,0,468,991,0,0
5,광진구,1249,3164,1036,2568,1036,2568,...,...,...,...,143,511,0,0,0,0,905,1933,0,0

In [187]:
df_birth.head(10)

,행정구역별,성별,2006,2007,2008,2009,2010,2011,2012,2013,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,행정구역별,성별,출생건수,출생건수,출생건수,출생건수,출생건수,출생건수,출생건수,출생건수,...,출생건수,출생건수,출생건수,출생건수,출생건수,출생건수,출생건수,출생건수,출생건수,출생건수
1,전국,계,451759,496822,465892,444849,470171,471265,484550,436455,...,438420,406243,357771,326822,302676,272337,260562,249186,230028,238317
2,서울특별시,계,93922,101249,94736,89594,93266,91526,93914,84066,...,83005,75536,65389,58074,53673,47445,45531,42602,39456,41605
3,종로구,계,1139,1204,1176,1095,1107,1103,1100,873,...,906,846,689,644,673,529,528,464,396,437
4,중구,계,1122,1276,1141,1052,1170,1105,1215,1022,...,950,959,808,733,783,690,627,587,534,612
5,용산구,계,2161,2449,2332,2159,2312,2309,2411,2129,...,1967,1708,1464,1377,1314,1176,1234,1110,1012,1045
6,성동구,계,3459,3762,3372,2823,2886,2776,2835,2838,...,2753,2531,2462,2346,2191,1945,1833,1690,1483,1666
7,광진구,계,3566,3714,3479,3258,3366,3184,3319,2990,...,2951,2767,2347,2197,1957,1532,1484,1278,1231,1263
8,동대문구,계,3181,3360,3236,2879,2880,2947,2963,2651,...,2687,2383,2117,1886,1884,1702,1585,1475,1359,1441
9,중랑구,계,3673,3882,3711,3495,3570,3450,3659,3265,...,3368,3085,2744,2446,2244,1873,1825,1860,1762,1733

In [188]:
# 자치구 컬럼 이름 통일
df_birth = df_birth.rename(columns={"행정구역별": "자치구"})

# '행정구역별/전국/서울특별시/계/소계' 이런 줄 전부 삭제
drop_vals = ["행정구역별", "전국", "서울특별시", "계", "소계"]
df_birth = df_birth[~df_birth["자치구"].isin(drop_vals)]

# 성별 컬럼 있으면 삭제
if "성별" in df_birth.columns:
    df_birth = df_birth.drop(columns=["성별"])

# 인덱스 리셋
df_birth = df_birth.reset_index(drop=True)

df_birth.head()

,자치구,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,종로구,1139,1204,1176,1095,1107,1103,1100,873,905,906,846,689,644,673,529,528,464,396,437
1,중구,1122,1276,1141,1052,1170,1105,1215,1022,1041,950,959,808,733,783,690,627,587,534,612
2,용산구,2161,2449,2332,2159,2312,2309,2411,2129,1976,1967,1708,1464,1377,1314,1176,1234,1110,1012,1045
3,성동구,3459,3762,3372,2823,2886,2776,2835,2838,2654,2753,2531,2462,2346,2191,1945,1833,1690,1483,1666
4,광진구,3566,3714,3479,3258,3366,3184,3319,2990,3011,2951,2767,2347,2197,1957,1532,1484,1278,1231,1263

학생_1만명당 사설학원수

In [189]:
print(df_academy.head(10))

   자치구별(1)  자치구별(2)           2010      2010.1             2010.2  \
0  자치구별(1)  자치구별(2)  초·중·고 학생수 (명)  사설학원수 (개소)  학생1만명당 사설학원수 (개소)
1       합계       소계        1274028       13168              103.4
2       합계      종로구          28153         250               88.8
3       합계       중구          22436         129               57.5
4       합계      용산구          26177         155               59.2
5       합계      성동구          33385         289               86.6
6       합계      광진구          46923         435               92.7
7       합계     동대문구          41770         342               81.9
8       합계      중랑구          47191         366               77.6
9       합계      성북구          56354         460               81.6

            2011      2011.1             2011.2           2012      2012.1  \
0  초·중·고 학생수 (명)  사설학원수 (개소)  학생1만명당 사설학원수 (개소)  초·중·고 학생수 (명)  사설학원수 (개소)
1        1219799       13477              110.5        1161632       13688
2          27180         299              110.0          25871         278
3          21240         144               67.8          19939         142
4          24596         161               65.5          23446         166
5          31878         287               90.0          30240         274
6          44001         427               97.0          41866         450
7          39559         352               89.0          37386         315
8          44157         354               80.2          41263         330
9          54571         449               82.3          52502         484

   ...             2021.2           2022      2022.1             2022.2  \
0  ...  학생1만명당 사설학원수 (개소)  초·중·고 학생수 (명)  사설학원수 (개소)  학생1만명당 사설학원수 (개소)
1  ...              167.3         806340       14414              178.8
2  ...              136.4          15187         248              163.3
3  ...               71.1          11987         108               90.1
4  ...               90.6          14270         151              105.8
5  ...              149.1          18871         294              155.8
6  ...              149.9          27738         441              159.0
7  ...              138.2          25443         388              152.5
8  ...               97.3          25922         271              104.5
9  ...              121.4          36247         469              129.4

            2023      2023.1             2023.2           2024      2024.1  \
0  초·중·고 학생수 (명)  사설학원수 (개소)  학생1만명당 사설학원수 (개소)  초·중·고 학생수 (명)  사설학원수 (개소)
1         784871       14832              189.0         766206       14688
2          14491         252              173.9          14085         216
3          11553         113               97.8          11236         112
4          13643         148              108.5          12859         140
5          18088         319              176.4          17234         313
6          26848         458              170.6          26026         434
7          24976         399              159.8          24690         412
8          25428         277              108.9          24615         284
9          35160         471              134.0          33852         471

              2024.2
0  학생1만명당 사설학원수 (개소)
1              191.7
2              153.4
3               99.7
4              108.9
5              181.6
6              166.8
7              166.9
8              115.4
9              139.1

[10 rows x 47 columns]

In [190]:
# 자치구 이름 사용
df_academy["자치구"] = df_academy["자치구별(2)"]

# 쓰레기 행 제거 (자치구가 '합계', '자치구별(2)' 등)
df_academy = df_academy[~df_academy["자치구"].isin(["합계", "자치구별(2)"])].copy()

# 연도별 '학생1만명당 사설학원수' 컬럼만 선택 (.2 컬럼)
ratio_cols = [col for col in df_academy.columns if col.endswith(".2")]

# 2010, 2011로 숫자 형태로 바꾼 새 컬럼 이름 만들기
year_cols = {col: int(col.split(".")[0]) for col in ratio_cols}

# 필요한 컬럼만 추출
df_academy = df_academy[["자치구"] + ratio_cols].rename(columns=year_cols)

df_academy.head()

,자치구,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
1,소계,103.4,110.5,117.8,121.0,128.4,136.8,143.2,151.2,156.3,162.1,166.4,167.3,178.8,189.0,191.7
2,종로구,88.8,110.0,107.5,112.9,115.2,115.1,130.7,150.3,148.4,149.2,147.7,136.4,163.3,173.9,153.4
3,중구,57.5,67.8,71.2,71.3,71.7,72.7,79.8,83.9,80.7,83.6,80.3,71.1,90.1,97.8,99.7
4,용산구,59.2,65.5,70.8,74.2,75.1,79.2,83.9,93.2,88.5,92.0,97.1,90.6,105.8,108.5,108.9
5,성동구,86.6,90.0,90.6,91.3,96.5,107.8,114.7,123.7,136.0,132.9,141.3,149.1,155.8,176.4,181.6

In [191]:
df_academy = df_academy[df_academy["자치구"] != "소계"].reset_index(drop=True)
df_academy.head(10)

,자치구,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,종로구,88.8,110.0,107.5,112.9,115.2,115.1,130.7,150.3,148.4,149.2,147.7,136.4,163.3,173.9,153.4
1,중구,57.5,67.8,71.2,71.3,71.7,72.7,79.8,83.9,80.7,83.6,80.3,71.1,90.1,97.8,99.7
2,용산구,59.2,65.5,70.8,74.2,75.1,79.2,83.9,93.2,88.5,92.0,97.1,90.6,105.8,108.5,108.9
3,성동구,86.6,90.0,90.6,91.3,96.5,107.8,114.7,123.7,136.0,132.9,141.3,149.1,155.8,176.4,181.6
4,광진구,92.7,97.0,107.5,105.3,115.2,123.6,125.6,136.4,138.3,135.5,139.8,149.9,159.0,170.6,166.8
5,동대문구,81.9,89.0,84.3,93.1,95.4,104.8,112.6,118.9,126.2,133.8,131.9,138.2,152.5,159.8,166.9
6,중랑구,77.6,80.2,80.0,82.8,54.0,85.6,93.9,92.6,91.8,96.5,95.8,97.3,104.5,108.9,115.4
7,성북구,81.6,82.3,92.2,92.8,93.6,93.4,100.7,107.1,113.1,114.3,115.9,121.4,129.4,134.0,139.1
8,강북구,81.1,77.0,80.9,82.4,82.0,84.3,91.9,93.7,94.1,94.4,96.3,101.5,109.4,114.3,120.1
9,도봉구,45.8,59.5,80.3,66.0,101.7,102.6,111.3,112.0,109.1,108.3,107.4,106.6,116.0,125.2,131.6

연도 컬럼 int로 변환

In [192]:
def convert_year_columns(df):
    new_cols = []
    for col in df.columns:
        # 자치구 컬럼은 그대로
        if col == "자치구":
            new_cols.append(col)
        else:
            try:
                # 연도만 숫자로 변환
                new_cols.append(int(col))
            except:
                # 숫자 변환 안되는건 그대로 둠 (필요 없으면 제거 대상)
                new_cols.append(col)
    df.columns = new_cols
    return df

In [198]:
grdp_long      = to_long(df_grdp, "grdp")
basic_long     = to_long(df_basic, "basic_beneficiaries")
multi_long     = to_long(df_multi, "multicultural_hh")
pop_long       = to_long(df_pop, "population")
div_long       = to_long(df_div, "divorce")
facility_long  = to_long(df_facility, "child_facility")
user_long      = to_long(df_user, "child_user")
single_long    = to_long(df_single, "single_parent")
birth_long     = to_long(df_birth, "birth_cnt")
academy_long   = to_long(df_academy, "academy_cnt")

dfs_long = [
    grdp_long,
    basic_long,
    multi_long,
    pop_long,
    div_long,
    facility_long,
    user_long,
    single_long,
    birth_long,
    academy_long
]

In [199]:
dfs = [
    df_grdp,
    df_basic,
    df_multi,
    df_pop,
    df_div,
    df_facility,
    df_user,
    df_single,
    df_birth,
    df_academy
]

for i in range(len(dfs)):
    dfs[i] = convert_year_columns(dfs[i])

Wide-format -> Long format 변환

In [200]:
def to_long(df, value_name):
    """
    Wide-format → Long-format
    df: 자치구 + 연도 wide 데이터프레임
    value_name: long-format의 값 컬럼명
    """
    long_df = df.melt(id_vars=["자치구"], var_name="연도", value_name=value_name)

    # 연도 int 변환
    long_df["연도"] = pd.to_numeric(long_df["연도"], errors="coerce")

    # 자치구 문자열 통일
    long_df["자치구"] = long_df["자치구"].astype(str).str.strip()

    return long_df

In [201]:
# 첫 번째 DF를 기준으로 순차 병합
df_master = dfs_long[0]

for df in dfs_long[1:]:
    df_master = df_master.merge(df, on=["자치구", "연도"], how="inner")

C:\Users\eldorado\AppData\Local\Temp\ipykernel_9928\1085666598.py:5: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation.
  df_master = df_master.merge(df, on=["자치구", "연도"], how="inner")

In [202]:
df_master = df_master[df_master["연도"].between(2015, 2022)].copy()

In [203]:
rename_map = {
    "자치구": "district",
    "연도": "year",
    # 이미 값 컬럼들은 영어로 만들었음 (grdp, population 등)
}

df_master = df_master.rename(columns=rename_map)

In [204]:
df_master = df_master.astype({
    "year": "int64",
    "grdp": "int64",
    "basic_beneficiaries": "int64",
    "multicultural_hh": "int64",
    "population": "int64",
    "divorce": "int64",
    "child_facility": "int64",
    "child_user": "int64",
    "single_parent": "int64",
    "birth_cnt": "int64",
    "academy_cnt": "float64"
})

In [205]:
df_master.head(10)

,district,year,grdp,basic_beneficiaries,multicultural_hh,population,divorce,child_facility,child_user,single_parent,birth_cnt,academy_cnt
0,종로구,2015,26762944,3540,1331,11008,276,12,305,480,906,115.1
1,중구,2015,54594969,3916,1156,7818,267,5,169,417,950,72.7
2,용산구,2015,12981760,5696,2110,17997,424,6,163,728,1967,79.2
3,성동구,2015,10728559,7125,1985,21972,563,12,344,1011,2753,107.8
4,광진구,2015,6343138,7332,2586,27104,651,17,496,1511,2951,123.6
5,동대문구,2015,7847523,11234,2214,26063,714,13,374,1515,2687,104.8
6,중랑구,2015,4108513,14364,2232,29278,1028,25,668,2730,3368,85.6
7,성북구,2015,5580652,12050,2093,39386,823,27,835,1798,3514,93.4
8,강북구,2015,2953193,13565,1875,23888,738,22,507,2568,2164,84.3
9,도봉구,2015,3182015,9292,1325,27944,728,18,520,1978,2481,102.6

In [206]:
# district 제외한 컬럼들
num_cols = [col for col in df_master.columns if col != "district"]

# 숫자로 강제 변환 (문자 → NaN → 숫자)
df_master[num_cols] = df_master[num_cols].apply(
    lambda x: pd.to_numeric(x, errors="coerce")
)

In [207]:
df_master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   district             200 non-null    object
 1   year                 200 non-null    int64
 2   grdp                 200 non-null    int64
 3   basic_beneficiaries  200 non-null    int64
 4   multicultural_hh     200 non-null    int64
 5   population           200 non-null    int64
 6   divorce              200 non-null    int64
 7   child_facility       200 non-null    int64
 8   child_user           200 non-null    int64
 9   single_parent        200 non-null    int64
 10  birth_cnt            200 non-null    int64
 11  academy_cnt          200 non-null    float64
dtypes: float64(1), int64(10), object(1)
memory usage: 18.9+ KB

In [208]:
df_master.describe()

,year,grdp,basic_beneficiaries,multicultural_hh,population,divorce,child_facility,child_user,single_parent,birth_cnt,academy_cnt
count,200.000000,2.000000e+02,200.0000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,2018.500000,1.823560e+07,12462.9450,2756.445000,30108.980000,656.855000,17.100000,479.775000,1358.155000,2356.275000,146.188500
std,2.297038,1.858885e+07,6235.3445,1518.443033,12815.835043,215.072931,7.593967,230.907918,646.009639,1067.626136,62.190284
min,2015.000000,2.953193e+06,3517.0000,1084.000000,6620.000000,204.000000,2.000000,56.000000,288.000000,464.000000,71.100000
25%,2016.750000,6.365162e+06,7984.7500,1935.750000,21914.000000,528.000000,11.000000,307.250000,873.500000,1688.000000,108.600000
50%,2018.500000,9.738368e+06,11255.5000,2287.000000,27393.500000,660.500000,18.000000,501.000000,1310.500000,2233.500000,130.500000
75%,2020.250000,2.147367e+07,15261.7500,2785.750000,39554.250000,783.250000,23.000000,645.500000,1764.500000,2921.750000,161.125000
max,2022.000000,9.003371e+07,31884.0000,7798.000000,59655.000000,1120.000000,29.000000,912.000000,3075.000000,5899.000000,419.200000

In [211]:
df_master.to_csv(r"C:\Flaskteam_projects\flask_basic\data\master_2015_2022.csv", index=False, encoding="utf-8-sig")